SHT-MAIN     SHEETINFO "C:\\PROJECTS\\PONG.win"
EXEINFO      EXEINFO
BEGIN
        0x46,
        0x103,
        0x8,
        0x1c,
        0xc,
        0x13,
        0x4f50,
        0x4357,
        0x424f,
        0x5000,
        0x4e4f,
        0x2e47,
        0x5845,
        0x45,
        0x22,
        0x250,
        0x100,
        0xe0f7,
        0x10,
        0x0,
        0x1,
        0xe,
        0x1,
        0xe,
        0x3,
        0x19,
        0x4853,
        0x2d54,
        0x414d,
        0x4e49,
        0x0,
        0x8,
        0x250,
        0x100,
        0xd4f6
END
